# Security
SECRET_KEY=super-secret-key-change-in-production
ALGORITHM=HS256

# Database
DATABASE_URL=sqlite+aiosqlite:///./lectra.db

# AI Config
# To enable Speaker Diarization, get a token from https://huggingface.co/settings/tokens
# and accept terms at https://huggingface.co/pyannote/speaker-diarization-3.1
HF_TOKEN=

# To enable Summarization and Chat, provide an OpenAI API Key
OPENAI_API_KEY=
